@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-sm: 0.8rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.info {
  font-weight: var(--text-weight-regular);
  line-height: 150%;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.detail {
  font-size: var(--text-sm);
}